In [442]:
import numpy as np 
import pandas as pd
import tensorflow as tf

In [443]:
train_dataset=pd.read_csv("train.csv")
train_dataset.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [444]:
train_dataset.CryoSleep=train_dataset.CryoSleep.replace(True,1).replace(False,0)
train_dataset.VIP=train_dataset.VIP.replace(True,1).replace(False,0)
train_dataset.HomePlanet=train_dataset.HomePlanet.replace("Europa",1).replace("Mars",0).replace("Earth",2)

IDs=train_dataset.PassengerId
y=train_dataset.Transported
y=y.replace(True,1).replace(False,0)
train_dataset

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,1.0,0.0,B/0/P,TRAPPIST-1e,39.0,0.0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,2.0,0.0,F/0/S,TRAPPIST-1e,24.0,0.0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,1.0,0.0,A/0/S,TRAPPIST-1e,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,1.0,0.0,A/0/S,TRAPPIST-1e,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,2.0,0.0,F/1/S,TRAPPIST-1e,16.0,0.0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,1.0,0.0,A/98/P,55 Cancri e,41.0,1.0,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,2.0,1.0,G/1499/S,PSO J318.5-22,18.0,0.0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,2.0,0.0,G/1500/S,TRAPPIST-1e,26.0,0.0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,1.0,0.0,E/608/S,55 Cancri e,32.0,0.0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,1.0,0.0,E/608/S,TRAPPIST-1e,44.0,0.0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [445]:
train_dataset=train_dataset.drop("Cabin", axis=1)
train_dataset=train_dataset.drop("Name", axis=1)
train_dataset=train_dataset.drop("Transported", axis=1)
train_dataset=train_dataset.drop("Destination", axis=1)

In [446]:
train_dataset

,PassengerId,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0001_01,1.0,0.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0002_01,2.0,0.0,24.0,0.0,109.0,9.0,25.0,549.0,44.0
2,0003_01,1.0,0.0,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0
3,0003_02,1.0,0.0,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0
4,0004_01,2.0,0.0,16.0,0.0,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,1.0,0.0,41.0,1.0,0.0,6819.0,0.0,1643.0,74.0
8689,9278_01,2.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0
8690,9279_01,2.0,0.0,26.0,0.0,0.0,0.0,1872.0,1.0,0.0
8691,9280_01,1.0,0.0,32.0,0.0,0.0,1049.0,0.0,353.0,3235.0
8692,9280_02,1.0,0.0,44.0,0.0,126.0,4688.0,0.0,0.0,12.0

In [447]:
train_dataset.CryoSleep.isnull().sum()

217

In [448]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer.fit(train_dataset.iloc[:,1:])
train_dataset.iloc[:,1:]=imputer.transform(train_dataset.iloc[:,1:])

In [449]:
for i in train_dataset.columns[1:]:
    train_dataset[i]=train_dataset[i]/np.max(train_dataset[i])
train_dataset

,PassengerId,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0001_01,0.5,0.0,0.493671,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
1,0002_01,1.0,0.0,0.303797,0.0,0.007608,0.000302,0.001064,0.024500,0.001823
2,0003_01,0.5,0.0,0.734177,1.0,0.003001,0.119948,0.000000,0.299670,0.002030
3,0003_02,0.5,0.0,0.417722,0.0,0.000000,0.043035,0.015793,0.148563,0.007997
4,0004_01,1.0,0.0,0.202532,0.0,0.021149,0.002348,0.006428,0.025214,0.000083
...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,0.5,0.0,0.518987,1.0,0.000000,0.228726,0.000000,0.073322,0.003066
8689,9278_01,1.0,1.0,0.227848,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
8690,9279_01,1.0,0.0,0.329114,0.0,0.000000,0.000000,0.079687,0.000045,0.000000
8691,9280_01,0.5,0.0,0.405063,0.0,0.000000,0.035186,0.000000,0.015753,0.134049
8692,9280_02,0.5,0.0,0.556962,0.0,0.008795,0.157247,0.000000,0.000000,0.000497

In [450]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics,model_selection
x=train_dataset.drop("PassengerId",axis=1)

X_train, X_test, y_train, y_test = model_selection.train_test_split(
  x,y , random_state=104,test_size=0.25, shuffle=True)

In [451]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics,model_selection

clf = DecisionTreeClassifier()


clf = clf.fit(X_train,y_train)


y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7387304507819688

In [452]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7819687212511499